*{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.carousel-container{
    position: relative;
   
}

a:hover{
    color:rgb(37, 82, 180);
}

.title{
    color: white;
    text-align: center;
    margin: 30px auto;
    font-family: Arial, Helvetica, sans-serif;

}

.next{
    position: absolute;
    top: 50%;
    right: 30px;
    font-size: 2rem;
    color: #006669;
    cursor: pointer;
}

.prev{
    position: absolute;
    top: 50%;
    left: 30px;
    font-size: 2rem;
    color: #006669;
    cursor: pointer;
}


.carousel{   
    height: 350px;
    width: 84%;
    padding: 10px 0px 10px 0px;
    margin: 0px auto;
    overflow: hidden;
    
}

.content{
    width: 300px;
    height: 330px;
    display: inline-block;
    margin: 0px 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1rem 1rem 1rem -1rem #a0a0a0;
}

.image{
    height: 250px;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

a{
    text-decoration: none;
    color: inherit;  
}

.info{
    height:130px;
    text-align: center;
    font-size: 1rem;
    padding: 0px 5px;
    font-weight: bolder;
}

.header{
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    
}

.para{
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.img{
    display: block;
    margin: 20px auto;
    width: 30%;
    
}

.heading-contri{
    font-size: 19px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    color: black;
}

.contri-info{
    font-size: 18px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    color: black;
}

.contribution-section {
    margin: 20px;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    color: #333;
    font-size: 18px;
    margin-bottom: 15px;
}


.contribution-list {
    background-color: black;
    list-style-type: none;
    padding: 0;
}

.contribution-list li {
    
    font-size: 18px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #e7e7e7;
    border-radius: 5px;
    cursor: pointer;
}

.details {
    display: none;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}
